.logo img{
    /*border-radius: 50%;*/
    margin: 0px auto;
    display: block;

    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.project_content {
    text-align: justify;
}
