<footer class="footer">
    <div class="content container" id="footer-container">
            <a class="footer-logo" href="http://www.ecocloud.ch/"><img alt="EcoCloud Logo" src="{{ site.url }}public/images/ecocloud-logo-new.png"></img></a>
            <a class="footer-logo" href="http://parsa.epfl.ch/"><img alt="Parsa Logo" src="{{ site.url }}public/images/parsa_logo.png"></img></a>
            <a class="footer-logo" href="http://www.epfl.ch/"><img alt="EPFL Logo" src="{{ site.url }}public/images/EPFL-logo.png"></img></a>
            <a class="footer-logo" href="http://compas.cs.stonybrook.edu/"><img alt="Compass Logo" src="{{ site.url }}public/images/compass.png"></img></a>
            <a class="footer-logo" href="http://www.stonybrook.edu/"><img alt="Stony Brook Logo" src="{{ site.url }}public/images/SBU_new2.jpg"></img></a>
    </div>
<footer>
