<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.url }}public/css/poole.css">
  <link rel="stylesheet" href="{{ site.url }}public/css/syntax.css">
  <link rel="stylesheet" href="{{ site.url }}public/css/hyde.css">
  <link rel="stylesheet" href="{{ site.url }}public/css/additional_style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">

  <!-- Icons -->
    
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}public/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="{{ site.url }}public/favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ site.url }}public/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="{{ site.url }}public/favicons/manifest.json">
  <link rel="mask-icon" href="{{ site.url }}public/favicons/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="{{ site.url }}public/favicons/favicon.ico">
  <meta name="msapplication-config" content="{{ site.url }}public/favicons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.url }}atom.xml">
</head>
