name: build-and-push-docker-image
on: 
  push:
    branches:
      - master
      - dev
  pull_request:
    branches:
      - master
      - dev

jobs:
  base-os:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target-os: [amd64, arm64]
    steps:
      - name: checkout
        uses: actions/checkout@v2
        
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
          
      - name: setup docker buildx
        uses: docker/setup-buildx-action@v1
      - name: build and push
        uses: docker/build-push-action@v2
        with:
          context: ./commons/${{ github.job }}
          platforms: linux/${{ matrix.target-os }}
          file: ./commons/${{ github.job }}/Dockerfile.${{ matrix.target-os }}
          push: true
          tags: "cloudsuitetest/debian:${{ matrix.target-os }}"
      - run: docker manifest create --amend cloudsuitetest/debian:base-os cloudsuitetest/debian:amd64 cloudsuitetest/debian:arm64
      - run: docker manifest push cloudsuitetest/debian:base-os
  
  java:
    runs-on: ubuntu-latest
    needs: base-os
    strategy:
      matrix:
        tags: [openjdk11, adoptopenjdk8]
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: setup docker buildx
        uses: docker/setup-buildx-action@v1
      - name: build and push
        uses: docker/build-push-action@v2
        with:
          context: ./commons/${{ github.job }}/${{ matrix.tags }}
          push: true
          tags: "cloudsuitetest/${{ github.job }}:${{ matrix.tags }}"
    
  mysql:
    runs-on: ubuntu-latest
    needs: base-os
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: setup docker buildx
        uses: docker/setup-buildx-action@v1
      - name: build and push
        uses: docker/build-push-action@v2
        with:
          context: ./commons/${{ github.job }}/
          push: true
          tags: "cloudsuitetest/${{ github.job }}:mariadb-10.3"
    
  memcached:
    runs-on: ubuntu-latest
    needs: base-os
    strategy:
      matrix:
        tags: ["1.6.6"]
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: setup docker buildx
        uses: docker/setup-buildx-action@v1
      - name: build and push
        uses: docker/build-push-action@v2
        with:
          context: ./commons/${{ github.job }}/${{ matrix.tags }}
          push: true
          tags: "cloudsuitetest/${{ github.job }}:${{ matrix.tags }}"
    
  hhvm:
    runs-on: ubuntu-latest
    needs: base-os
    strategy:
      matrix:
        tags: ["3.30"]
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: setup docker buildx
        uses: docker/setup-buildx-action@v1
      - name: build and push
        uses: docker/build-push-action@v2
        with:
          context: ./commons/${{ github.job }}/${{ matrix.tags }}
          push: true
          tags: "cloudsuitetest/${{ github.job }}:${{ matrix.tags }}"
  
  faban:
    runs-on: ubuntu-latest
    needs: java
    strategy:
      matrix:
        tags: ["1.4"]
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: setup docker buildx
        uses: docker/setup-buildx-action@v1
      - name: build and push
        uses: docker/build-push-action@v2
        with:
          context: ./commons/${{ github.job }}/${{ matrix.tags }}
          push: true
          tags: "cloudsuitetest/${{ github.job }}:${{ matrix.tags }}"
    
  spark:
    runs-on: ubuntu-latest
    needs: java
    strategy:
      matrix:
        tags: ["2.4.5"]
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: setup docker buildx
        uses: docker/setup-buildx-action@v1
      - name: build and push
        uses: docker/build-push-action@v2
        with:
          context: ./commons/${{ github.job }}/${{ matrix.tags }}
          push: true
          tags: "cloudsuitetest/${{ github.job }}:${{ matrix.tags }}"

  siege:
    runs-on: ubuntu-latest
    needs: java
    strategy:
      matrix:
        tags: ["4.0.3rc3"]
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: setup docker buildx
        uses: docker/setup-buildx-action@v1
      - name: build and push
        uses: docker/build-push-action@v2
        with:
          context: ./commons/${{ github.job }}/${{ matrix.tags }}
          push: true
          tags: "cloudsuitetest/${{ github.job }}:${{ matrix.tags }}"

  cassandra:
    runs-on: ubuntu-latest
    needs: java
    strategy:
      matrix:
        tags: ["3.11.6"]
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: setup docker buildx
        uses: docker/setup-buildx-action@v1
      - name: build and push
        uses: docker/build-push-action@v2
        with:
          context: ./commons/${{ github.job }}/${{ matrix.tags }}
          push: true
          tags: "cloudsuitetest/${{ github.job }}:${{ matrix.tags }}"

  hadoop:
    runs-on: ubuntu-latest
    needs: java
    strategy:
      matrix:
        tags: ["2.10.1"]
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: setup docker buildx
        uses: docker/setup-buildx-action@v1
      - name: build and push
        uses: docker/build-push-action@v2
        with:
          context: ./commons/${{ github.job }}/${{ matrix.tags }}
          push: true
          tags: "cloudsuitetest/${{ github.job }}:${{ matrix.tags }}"

  graphite-statsd:
    runs-on: ubuntu-latest
    needs: base-os
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: setup docker buildx
        uses: docker/setup-buildx-action@v1
      - name: build and push
        uses: docker/build-push-action@v2
        with:
          context: ./commons/graphite-statsd
          push: true
          tags: "cloudsuitetest/${{ github.job }}:latest"

  data-analytics:
    runs-on: ubuntu-latest
    needs: hadoop
    strategy:
      matrix:
        tags: ["4.0"]
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: setup docker buildx
        uses: docker/setup-buildx-action@v1
      - name: build and push
        uses: docker/build-push-action@v2
        with:
          context: ./benchmarks/${{ github.job }}/${{ matrix.tags }}
          push: true
          tags: "cloudsuitetest/${{ github.job }}:${{ matrix.tags }}"

  data-caching:
    runs-on: ubuntu-latest
    needs: memcached
    strategy:
      matrix:
        tags: ["client", "server"]
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: setup docker buildx
        uses: docker/setup-buildx-action@v1
      - name: build and push
        uses: docker/build-push-action@v2
        with:
          context: ./benchmarks/${{ github.job }}/${{ matrix.tags }}
          push: true
          tags: "cloudsuitetest/${{ github.job }}:${{ matrix.tags }}"

   data-serving:
    runs-on: ubuntu-latest
    needs: cassandra
    strategy:
      matrix:
        tags: ["client", "server"]
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: setup docker buildx
        uses: docker/setup-buildx-action@v1
      - name: build and push
        uses: docker/build-push-action@v2
        with:
          context: ./benchmarks/${{ github.job }}/${{ matrix.tags }}
          push: true
          tags: "cloudsuitetest/${{ github.job }}:${{ matrix.tags }}"

  django-workload:
    runs-on: ubuntu-latest
    needs: [cassandra, graphite-statsd, memcached, siege]
    strategy:
      matrix:
        tags: ["cassandra", "graphite", "memcached", "siege", "uwsgi"]
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: setup docker buildx
        uses: docker/setup-buildx-action@v1
      - name: build and push
        uses: docker/build-push-action@v2
        with:
          context: ./benchmarks/${{ github.job }}/${{ matrix.tags }}
          push: true
          tags: "cloudsuitetest/${{ github.job }}:${{ matrix.tags }}"

  fb-oss-performance:
    runs-on: ubuntu-latest
    needs: [mysql, siege, hhvm]
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: setup docker buildx
        uses: docker/setup-buildx-action@v1
      - name: build and push
        uses: docker/build-push-action@v2
        with:
          context: ./benchmarks/${{ github.job }}
          push: true
          tags: "cloudsuitetest/${{ github.job }}:latest"
  
  graph-analytics:
    runs-on: ubuntu-latest
    needs: spark
    strategy:
      matrix:
        tags: ["4.0"]
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: setup docker buildx
        uses: docker/setup-buildx-action@v1
      - name: build and push
        uses: docker/build-push-action@v2
        with:
          context: ./benchmarks/${{ github.job }}/${{ matrix.tags }}
          push: true
          tags: "cloudsuitetest/${{ github.job }}:${{ matrix.tags }}"


  in-memory-analytics:
    runs-on: ubuntu-latest
    needs: spark
    strategy:
      matrix:
        tags: ["4.0"]
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: setup docker buildx
        uses: docker/setup-buildx-action@v1
      - name: build and push
        uses: docker/build-push-action@v2
        with:
          context: ./benchmarks/${{ github.job }}/${{ matrix.tags }}
          push: true
          tags: "cloudsuitetest/${{ github.job }}:${{ matrix.tags }}"

  media-streaming:
    runs-on: ubuntu-latest
    needs: base-os
    strategy:
      matrix:
        tags: ["client", "server", "dataset"]
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: setup docker buildx
        uses: docker/setup-buildx-action@v1
      - name: build and push
        uses: docker/build-push-action@v2
        with:
          context: ./benchmarks/${{ github.job }}/${{ matrix.tags }}
          push: true
          tags: "cloudsuitetest/${{ github.job }}:${{ matrix.tags }}"
  
  web-search:
    runs-on: ubuntu-latest
    needs: [faban, java]
    strategy:
      matrix:
        tags: ["client", "server", "dataset"]
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: setup docker buildx
        uses: docker/setup-buildx-action@v1
      - name: build and push
        uses: docker/build-push-action@v2
        with:
          context: ./benchmarks/${{ github.job }}/${{ matrix.tags }}
          push: true
          tags: "cloudsuitetest/${{ github.job }}:${{ matrix.tags }}"
  
  web-serving:
    runs-on: ubuntu-latest
    needs: [faban, mysql, memcached]
    strategy:
      matrix:
        tags: ["db_server", "faban_client", "memcached_server", "web_server"]
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: setup docker buildx
        uses: docker/setup-buildx-action@v1
      - name: build and push
        uses: docker/build-push-action@v2
        with:
          context: ./benchmarks/${{ github.job }}/${{ matrix.tags }}
          push: true
          tags: "cloudsuitetest/${{ github.job }}:${{ matrix.tags }}"
  
  movielens-dataset:
    runs-on: ubuntu-latest
    needs: base-os
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: setup docker buildx
        uses: docker/setup-buildx-action@v1
      - name: build and push
        uses: docker/build-push-action@v2
        with:
          context: ./datasets/${{ github.job }}
          push: true
          tags: "cloudsuitetest/${{ github.job }}:latest"
  
  twitter-dataset-graph:
    runs-on: ubuntu-latest
    needs: base-os
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: setup docker buildx
        uses: docker/setup-buildx-action@v1
      - name: build and push
        uses: docker/build-push-action@v2
        with:
          context: ./datasets/${{ github.job }}
          push: true
          tags: "cloudsuitetest/${{ github.job }}:latest"
